@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url(./assets/NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: "NeueHaasDisplayMediu";
  src: url(./assets/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: url(./assets/NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeueHaasDisplayMediu";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #efe9e3;
}
.c-scrollbar {
  display: none !important;
  overflow: hidden !important;
}
/* ---------------- Page-1 ---------------- */
.page1 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 2vw;
  overflow: hidden;
}
.page1 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 100px;
  width: 100%;
}
.page1 nav .nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.page1 nav .nav-btns h4 {
  position: relative;
  padding: 10px 20px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 50px;
  color: #000;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
}
.page1 nav .nav-btns h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background-color: black;
  border-radius: 50%;
  transition: all ease-in 0.25s;
}
.page1 nav .nav-btns h4:hover::after {
  bottom: 0;
  border-radius: 0;
  transition: all ease-out 0.2s;
}
.page1 nav .nav-btns h4 a {
  position: relative;
  color: black;
  text-decoration: none;
  z-index: 1;
  font-family: "NeueHaasDisplayRoman";
  font-weight: 400;
  transition: 0.2s;
}
.page1 nav .nav-btns h4:hover a {
  color: white;
}
.page1 .center {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 9.625em;
  padding-bottom: 3.75em;
  display: flex;
  position: relative;
}
.page1 .center .left {
}
.page1 .center .left h3 {
  letter-spacing: -0.03em;
  font-size: 32.5px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}
.page1 .center .right {
}
.page1 .center .right h1 {
  z-index: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  font-size: 185.714px;
  font-weight: 500;
  line-height: 148.571px;
  position: relative;
  text-align: right;
}
.page1 .vid {
  z-index: 3;
  width: 100%;
  margin-top: 3.75em;
  /* position: relative; */
}
.page1 .vid video {
  overflow: hidden;
  border-radius: 1.25em;
  width: 100.1%;
  height: 100%;
  position: relative;
  z-index: 1;
}
#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  top: 68vh;
  right: 0;
  z-index: 1;
}
#hero-shape #shape-1 {
  background-color: #fe330a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  width: 100%;
  height: 100%;
  position: absolute;
}
#hero-shape #shape-2 {
  background-color: #fe330a;
  border-radius: 50%;
  filter: blur(25px);
  width: 30vw;
  height: 30vw;
  position: absolute;
  animation: AnimationShape2 3s linear alternate infinite;
}
#hero-shape #shape-3 {
  /* background-color: orangered; */
  background: linear-gradient(219deg, #ff7231, #fe330a 73%);
  border-radius: 50%;
  filter: blur(25px);
  width: 30vw;
  height: 30vw;
  position: absolute;
  animation: AnimationShape1 3s linear alternate infinite;
}
@keyframes AnimationShape1 {
  from {
    transform: translate(55%, -3%) rotate(30deg);
  }
  to {
    transform: translate(0%, 10%) rotate(0deg);
  }
}
@keyframes AnimationShape2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}
/* ---------------- Page-2 ---------------- */
.page2 {
  min-height: 100vh;
  width: 100%;
  padding: 8vw 0 0 0;
  position: relative;
}
.page2 #moving-text {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #efe9e3 20%,
    #efe9e3 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    #efe9e3 15%,
    #efe9e3 85%,
    transparent
  );
}
.page2 #moving-text::-webkit-scrollbar {
  display: none;
}
.page2 #moving-text .con {
  white-space: nowrap;
  display: inline-block;
  animation: move 20s linear infinite;
}
.page2 #moving-text .con h1 {
  font-size: 8.75em;
  /* background-color: lightblue; */
  display: inline-block;
}
.page2 #moving-text .con #circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.page2 .who_section {
  height: 80vh;
  width: 100%;
  margin-top: 8.75em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 5.625em;
  padding-right: 5.625em;
}
.page2 .who_section .who_h1 {
  width: 64%;
  max-width: 60em;
}
.page2 .who_section .who_h1 h1 {
  font-size: 78.9286px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
}
.page2 .who_section .who_p {
  z-index: 5;
  width: 25%;
  max-width: 20em;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-direction: column;
  margin-top: 8.75em;
  display: flex;
}
.page2 .who_section .who_p p {
  color: #0b0500;
  font-family: "NeueHaasDisplayRoman";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
}
.page2 .who_section .who_p img {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.page2 .who-shapes-wrapper {
  position: absolute;
  top: 55%;
  left: 25%;
  /* background-color: #fe320a; */
  width: 38em;
  height: 38em;
  z-index: -1;
  border-radius: 50%;
  /* filter: blur(20px); */
}
.page2 .who-shapes-wrapper .shape-1 {
  background-color: #fe320a;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(60px);
  animation: CircleShape1 3s alternate ease-in-out infinite;
}
.page2 .who-shapes-wrapper .shape-2 {
  background-color: #ff9831;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(20px);
  animation: CircleShape2 3s alternate ease-in-out infinite;
}
@keyframes CircleShape1 {
  from {
    transform: translate3d(5%, -5%, 0px) skew(0deg, 0deg);
  }
  to {
    transform: translate3d(-5%, 5%, 0px) skew(-10deg, 0deg);
  }
}
@keyframes CircleShape2 {
  from {
    transform: translate3d(-5%, 5%, 0px) skew(0deg, 0deg);
  }
  to {
    transform: translate3d(5%, -5%, 0px) skew(-10deg, 0deg);
  }
}
/* ---------------- Page-3 ---------------- */
.page3 {
  min-height: 100vh;
  width: 100%;
}
.page3 .featured_header {
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  flex-direction: row;
  align-items: center;
  padding: 0 2vw;
  padding-bottom: 3.75em;
  display: flex;
}
.page3 .featured_header .circle {
  width: 0.5em;
  height: 0.5em;
  background-color: #fe330a;
  border-radius: 100vw;
}
.page3 .featured_header h1 {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "NeueHaasDisplayRoman";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.2;
}
.page3 .featured_list {
  width: 100%;
}
.page3 .featured_list .item {
  color: #0b0500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
.page3 .featured_list .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #ff9831;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.25s;
}
.page3 .featured_list .item:hover::before {
  height: 100%;
}
.page3 .featured_list .item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0b0500;
  padding: 1.75em 2em;
  text-decoration: none;
}
.page3 .featured_list .item a h1 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  font-size: 3.25em;
}
.page3 .featured_list .item a .item-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.page3 .featured_list .item a .item-info h6 {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "NeueHaasDisplayRoman";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.2;
}
.page3 .featured_list .item a .item-info p {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.4);
  font-family: "NeueHaasDisplayRoman";
}
.page3 .button_wrapper {
  padding: 10px 20px;
  color: #0b0500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100vw;
  display: inline-block;
  margin: 0 2vw;
  margin-top: 3.75em;
  transition: 0.25s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.page3 .button_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  transition: 0.25s;
  border-radius: 50%;
  z-index: -1;
}
.page3 .button_wrapper:hover:before {
  border-radius: 0;
  bottom: 0;
}
.page3 .button_wrapper:hover a h1 {
  color: white;
}
.page3 .button_wrapper a h1,
.page3 .button_wrapper a svg path {
  transition: 0.25s;
}
.page3 .button_wrapper:hover a svg path {
  fill: white;
  stroke: white;
}
.page3 .button_wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  gap: 0.625em;
}
.page3 .button_wrapper a h1 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 18.5px;
  font-family: "NeueHaasDisplayRoman";
}
.fixed-img {
  height: 550px;
  width: 430px;
  background-color: transparent;
  border-radius: 15px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 60%;
  top: 50%;
  z-index: 99;
  display: none;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  box-shadow: 0 0 100px 0 rgb(254, 50, 10, 0.3);
}
.fixed-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
footer {
  height: 60px;
  width: 100%;
  /* background-color: red; */
}
